body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(/visuals/coffees/909010558.png) 
    no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 18px;
    color: #666;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
