<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ocoffee</title>
 
</head>
<body class="container">
    <header>
        <h1 class="logo__title">oCoffee</h1>
        
        <input id="burger" type="checkbox" />
        <label for="burger">
                    
        </label>
        <nav class="logo">    
             
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/catalogue">Catalogue</a></li>
                
            </ul>  
        </nav>
    </header>