<%- include('partials/header') %>

    <main class="catalogue">
        <p class="catalogue_title">Notre catalogue </p>
    </main>

    <section class="news__article">
        <article class="article"> 
            <h3>Testez notre Espresso !</h3>
            <p>Café fort et concentré préparé en faisant passer de l'eau chaude à travers du café finement moulu.</p>
            <button class="button-56" role="button">Découvrir</button>
        </article>
        <article class="article"> 
            <h3>Le coup de coeur de l'équipe : le Vietnamese Robusta</h3>
            <p>Café audacieux et fort avec une saveur robuste distinctive.</p>
            <button class="button-56" role="button">Découvrir</button>
        </article>
        <article class="article"> 
            <h3>Coup de soleil avec notre Hawaiian Kona</h3>
            <p>Café rare au goût riche, une acidité douce et des nuances subtiles.</p>
            <button class="button-56" role="button">Découvrir</button>
        </article>
           </section>
           <button class="button-89" role="button"> Pour tout voir, c'est par ici  </button>
           <%- include('partials/footer') %>
