<%- include('partials/header') %>

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/history.css" />

    <main class="main">
               <p class="title">Bonjour, </p>
        <h1 class="title_introduction"> Nous sommes les Freres Pepper! </h1>
        <div class="presentation__image"> <img class="image__coffee" src="/visuals/introduction.jpg" alt="picture of coffee">
        </div>
        <section class="introduction">
            <h1 class="heading">Notre Histoire</h1>
            <p> Jean et Jacques Pepper, deux frères passionnés par le café, sont les fondateurs de notre boutique. Avec
                une
                expertise approfondie et un amour profond pour cette délicieuse boisson, ils ont créé un espace où le
                café
                est célébré comme une expérience raffinée et inspirante.

            </p>
        </section>
        <section class="location">
            <h1 class="heading">Ambiance de la boutique</h1>
            <p>L'atmosphère est empreinte d'une lueur chaleureuse, avec des lumières tamisées qui créent des jeux
                d'ombres
                et de lumières apaisants. Les murs sont ornés d'éléments rustiques, de panneaux en bois et de
                photographies
                captivantes de plantations de café, évoquant l'origine de ces délices aromatiques..</p>
        </section>
        <section class="questions">
            <h1 class="heading">Tu veux en savoir encore plus sur nous ?</h1>
            <dl class="question-list">
                <dt class="question"> On te laisse lire</dt>
                <dd class="answer"> Jean et Jacques Pepper, deux frères passionnés par l'univers du café, ont toujours
                    rêvé
                    de créer leur propre boutique de café haut de gamme. L'occasion de concrétiser ce rêve est arrivée
                    lors
                    d'un voyage inoubliable en Colombie, un pays célèbre pour ses plantations de café renommées dans le
                    monde entier.

                    Pendant leur séjour en Colombie, Jean et Jacques ont eu la chance de visiter une plantation de café
                    pittoresque, nichée au cœur des montagnes verdoyantes. Ils ont été immédiatement captivés par
                    l'atmosphère envoûtante et l'engagement des agriculteurs locaux à cultiver les meilleurs grains de
                    café.

                    Au cours de cette visite, ils ont eu l'occasion de rencontrer des producteurs de café passionnés qui
                    leur ont partagé leurs connaissances et leur amour pour le processus de culture, de récolte et de
                    transformation du café. Jean et Jacques ont été fascinés par l'attention méticuleuse portée à chaque
                    étape de la production, ainsi que par la diversité des saveurs et des arômes uniques que les
                    différents
                    terroirs colombiens offraient.

                    C'est à ce moment-là que l'étincelle de l'inspiration a embrasé leur esprit. Ils ont réalisé qu'ils
                    voulaient partager cette passion pour le café de qualité avec le reste du monde. Leur vision était
                    de
                    créer un lieu où les amateurs de café pourraient découvrir et déguster des variétés de café
                    exceptionnelles, tout en apprenant sur leur origine et leur processus de production.

                    De retour chez eux, Jean et Jacques ont mis en pratique leurs idées et ont commencé à planifier
                    l'ouverture de leur boutique de café. Ils ont parcouru les fournisseurs, sélectionné avec soin les
                    meilleurs grains de café issus de plantations durables et équitables, et ont créé un espace
                    accueillant
                    et chaleureux pour accueillir les amateurs de café.</dd>

        </section>
    </main>


    </body>


    <%- include('partials/footer') %>